.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  width: 100%;
  max-width: 1000px;
}
.img {
  width: 100%;
  height: auto;
  cursor: pointer;
}
.frame {
  overflow: hidden;
}
